{% extends 'base.html' %}

{% load static %}
{% load bootstrap_icons %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/button.css' %}">
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center pt-5" style="margin-top: 40px;">

    <div class="border rounded-5 p-3 bg-white shadow box-area" style="width: fit-content;">

        <div class="text-center">

            <div class="header-text mb-3 text-start mt-3 align-items-center justify-content-between">
                <div class="d-flex align-items-center gap-5 mb-3">
                    <h5>Temporary Password</h5>
                    <button class="btn btn-icon">{% bs_icon 'file-arrow-down-fill' size='1em' %}</button>
                </div>
                <p class="text-muted mb-4" style="font-size: 0.9rem;">
                    This password will only be shown once. <br>
                    Please print it and hand it to the user.
                </p>
                <div class="d-flex align-items-center gap-2 mb-3">
                    <strong>Full Name :</strong>
                    <span>Bellosillo, Raphael H.</span>
                </div>
                <div class="d-flex align-items-center gap-2 mb-3">
                    <strong>Username :</strong>
                    <span>000000</span>
                </div>
                <div class="d-flex align-items-center gap-2 mb-3">
                    <strong>Email Address :</strong>
                    <span>000000</span>
                </div>
                <div class="d-flex align-items-center gap-2 mb-3">
                    <strong>Temporary Password :</strong>
                    <span>000000</span>
                </div>
            </div>

            <div class="input-group mb-3">
                <a class="btn btn-submit btn-lg w-100 fs-6" href="{% url 'event_logs:user_reg_log' %}">Back to User Registration Log</a>
            </div>

        </div>

    </div>

</div>
{% endblock %}