<nav class="navbar navbar-expand-lg pt-0 pb-3">
    <div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item me-3">
                    <a class="nav-link" href="">Dashboard</a>
                </li>
                <li class="nav-item dropdown me-3">
                    <a class="nav-link dropdown-toggle" href="#" id="resident_dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Resident Management
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="resident_dropdown">
                        <li><a class="dropdown-item" href="{% url 'resident:register_resident' %}">Register Resident</a></li>
                        <li><a class="dropdown-item" href="{% url 'resident:resident_records' %}">Resident Records</a></li>
                    </ul>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" href="{% url 'event_logs:user_reg_log' %}">User Registration Log</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" href="{% url 'event_logs:activity_log' %}">Activity Log</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" href="{% url 'event_logs:authentication_log' %}">Authentication Log</a>
                </li>
            </ul>
        </div>
    </div>
</nav>