{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/button.css' %}">
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center pt-5" style="margin-top: 40px;">

    <div class="border rounded-5 p-3 bg-white shadow box-area mb-5" style="width: fit-content;">

        <div class="text-center">

            <div class="mb-3 text-start mt-3 align-items-center justify-content-between">
                <div class="row">
                    <div class="d-flex align-items-center justify-content-center mb-3">
                        <h5>Review Resident's Information</h5>
                    </div>
                    <!-- PLEASE REVIEW, DO NOT INCLUDE FIELDS THAT DOES NOT HAVE VALUE TO PASS (NULL) -->
                    <!-- EX. FOR SUPPORTING DOCS IT IS NOT REQUIRED, SO IF IT IS NULL DO NOT INCLUDE HERE-->
                    <div class="col mb-3">
                        <h6 class="mb-3">Personal Information</h6>
                        <div class="d-flex mb-1">
                            <strong style="min-width: 120px;">Last Name :</strong>
                            <span class="flex-grow-1 text-end" style="min-width: 120px;">Bellosillo, Raphael H.</span>
                        </div>
                        <div class="d-flex mb-1">
                            <strong style="min-width: 120px;">First Name :</strong>
                            <span class="flex-grow-1 text-end" style="min-width: 120px;">Bellosillo, Raphael H.</span>
                        </div>
                        <div class="d-flex mb-1">
                            <strong style="min-width: 120px;">Middle Name :</strong>
                            <span class="flex-grow-1 text-end" style="min-width: 120px;">Bellosillo, Raphael H.</span>
                        </div>
                        <div class="d-flex mb-1">
                            <strong style="min-width: 120px;">Suffix :</strong>
                            <span class="flex-grow-1 text-end" style="min-width: 120px;">Bellosillo, Raphael H.</span>
                        </div>
                        <div class="d-flex mb-1">
                            <strong style="min-width: 120px;">Sex :</strong>
                            <span class="flex-grow-1 text-end" style="min-width: 120px;">000000</span>
                        </div>
                        <div class="d-flex mb-1">
                            <strong style="min-width: 120px;">Date of Birth :</strong>
                            <span class="flex-grow-1 text-end" style="min-width: 120px;">000000</span>
                        </div>
                        <div class="d-flex mb-1">
                            <strong style="min-width: 120px;">Civil Status :</strong>
                            <span class="flex-grow-1 text-end" style="min-width: 120px;">000000</span>
                        </div>
                        <div class="d-flex mb-1">
                            <strong style="min-width: 120px;">Nationality :</strong>
                            <span class="flex-grow-1 text-end" style="min-width: 120px;">000000</span>
                        </div>
                        <div class="d-flex mb-1">
                            <strong style="min-width: 120px;">Religion :</strong>
                            <span class="flex-grow-1 text-end" style="min-width: 120px;">000000</span>
                        </div>
                        <strong class="text-muted"><i>Home Address</i></strong>
                        <div class="d-flex mb-1">
                            <strong style="min-width: 120px;">Street :</strong>
                            <span class="flex-grow-1 text-end" style="min-width: 120px;">000000</span>
                        </div>
                        <div class="d-flex mb-1">
                            <strong style="min-width: 120px;">Purok / Sitio :</strong>
                            <span class="flex-grow-1 text-end" style="min-width: 120px;">000000</span>
                        </div>
                        <div class="d-flex mb-1">
                            <strong style="min-width: 120px;">Barangay :</strong>
                            <span class="flex-grow-1 text-end" style="min-width: 120px;">000000</span>
                        </div>
                        <div class="d-flex mb-1">
                            <strong style="min-width: 120px;">City :</strong>
                            <span class="flex-grow-1 text-end" style="min-width: 120px;">000000</span>
                        </div>
                        <div class="d-flex mb-1">
                            <strong style="min-width: 120px;">Email :</strong>
                            <span class="flex-grow-1 text-end" style="min-width: 120px;">000000</span>
                        </div>
                        <div class="d-flex mb-1">
                            <strong style="min-width: 120px;">Mobile Number :</strong>
                            <span class="flex-grow-1 text-end" style="min-width: 120px;">000000</span>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <h6 class="mb-3">Socioeconomic Information</h6>
                        <div class="d-flex mb-1">
                            <strong style="min-width: 120px;">Educational Attainment :</strong>
                            <span class="flex-grow-1 text-end" style="min-width: 120px;">000000</span>
                        </div>
                        <div class="d-flex mb-1">
                            <strong style="min-width: 120px;">Employment Status :</strong>
                            <span class="flex-grow-1 text-end" style="min-width: 120px;">000000</span>
                        </div>
                        <div class="d-flex mb-1">
                            <strong style="min-width: 120px;">Occupation :</strong>
                            <span class="flex-grow-1 text-end" style="min-width: 120px;">000000</span>
                        </div>
                        <div class="d-flex mb-1">
                            <strong style="min-width: 120px;">Monthly Personal Income :</strong>
                            <span class="flex-grow-1 text-end" style="min-width: 120px;">000000</span>
                        </div>
                        <div class="d-flex mb-1">
                            <strong style="min-width: 120px;">Government Program :</strong>
                            <span class="flex-grow-1 text-end" style="min-width: 120px;">000000</span>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <h6 class="mb-3">Supporting Documents</h6>
                        <div class="d-flex mb-1">
                            <strong style="min-width: 120px;">Resident Image :</strong>
                            <span class="flex-grow-1 text-end" style="min-width: 120px;">path/filename</span>
                        </div>
                        <div class="d-flex mb-1">
                            <strong style="min-width: 120px;">Type of Document :</strong>
                            <span class="flex-grow-1 text-end" style="min-width: 120px;">000000</span>
                        </div>
                        <div class="d-flex mb-1">
                            <strong style="min-width: 120px;">Proof of Residency :</strong>
                            <span class="flex-grow-1 text-end" style="min-width: 120px;">path/filename</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="input-group mb-3 justify-content-end">
                <button class="btn btn-submit">Submit</button>
            </div>

        </div>

    </div>

</div>
{% endblock %}