{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/button.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/progress_bar.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid pt-3 d-flex flex-column flex-grow-1" style="margin-top: 50px;">

    <div class="step-progress mb-2">
        <div class="step completed">
            <div class="circle">1</div>
            <div class="label">Personal Information</div>
        </div>
        <div class="step completed">
            <div class="circle">2</div>
            <div class="label">Socioeconomic Information</div>
        </div>
        <div class="step active">
            <div class="circle">3</div>
            <div class="label">Supporting Documents</div>
        </div>
    </div>

    <form method="post" class="d-flex flex-column flex-grow-1">
        {% csrf_token %}

        <h5>Supporting Documents</h5>
        <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-floating mb-3">
                    {{form.res_img}}
                    <label for="{{ form.res_img.id_for_label }}">{{ form.res_img.label }}</label>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-floating mb-3">
                    {{form.type_of_doc}}
                    <label for="{{ form.type_of_doc.id_for_label }}">{{ form.type_of_doc.label }}</label>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-floating mb-3">
                    {{form.proof_img}}
                    <label for="{{ form.proof_img.id_for_label }}">{{ form.proof_img.label }}</label>
                </div>
            </div>

        </div>

        <div class="mt-auto button-container">
            <button class="btn btn-reset">Clear</button>
            <a class="btn btn-submit" href="{% url 'resident:review_info' %}">Continue</a>
        </div>

    </form>

</div>
{% endblock %}