{% load static %}

{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/static_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/header_pagetitle.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

    {% block css %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{% static 'images/brgy-sto-nino.png' %}">
    <title>{{ page_title }}</title>
</head>
<body>
    {% include 'header.html' %}
    {% include 'account_management/'|add:user_role_template|add:'.html' %}
    {% include 'page_title.html' %}

    {% block content %}{% endblock%}
</body>
</html>